{
  "trailingComma": "none",
  "arrowParens": "avoid",
  "singleQuote": true,
  "printWidth": 80,
  "useTabs": false,
  "tabWidth": 2,
  "semi": true,
  "importOrder": [
    "^(react/(.*)$)|^(react-dom/(.*)$)|^(react$)",
    "<THIRD_PARTY_MODULES>",
    "(^@components/(.*)$)|(^components/(.*)$)|(./components/(.*)$)",
    "(^@services/(.*)$)|(^services/(.*)$)|(./services/(.*)$)",
    "(^@utils/(.*)$)|(^utils/(.*)$)|(./utils/(.*)$)",
    "(^@assets/(.*)$)|(^assets/(.*)$)|(./assets/(.*)$)",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "plugins": ["@trivago/prettier-plugin-sort-imports"]
}
